---
title: Blog
description: Eyup S. Ergin, Cyber Threat Intelligence Analyst and GoLang Developer
url: ergin.dev/secblog
image: /images/og/secblog.jpg
layout: page
pagination:
  enabled: true
---

<head>
<link href="../scrollbar.css" type="text/css" rel="stylesheet"/>
</head>
<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% elsif site.pagination.enabled %}
		{% for post in paginator.posts %}
			{% if post.category == 'secblog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% include pagination.html%}
	{% else %}
		{% for post in site.posts %}
			{% if post.category == 'secblog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section>
