---
layout: compress
---

<!DOCTYPE html>
<html lang="en" >
  {% include head.html %}  
  <body>
    <main role="main">
	    
	    {% include navigation.html %}
	    
        {{ content }}
        	    
    </main>
            
<script async src="https://www.googletagmanager.com/gtag/js?id=G-30S7CNC6Z8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-30S7CNC6Z8');
</script>

  </body>
<p style="font-size:90%; text-align:center">Eyup Sukru Ergin © 2018 - 2022</p> 
<br>
</html>
