---
layout: compress
---

<!DOCTYPE html>
<html lang="en" >
  {% include head.html %}  
  <body>
    <main role="main">
	    
	    {% include navigation.html %}
	    
        {{ content }}
        	    
    </main>
            
<script async src="https://www.googletagmanager.com/gtag/js?id=G-30S7CNC6Z8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-30S7CNC6Z8');
</script>

  </body>
<p style="font-size:90%; text-align:center">Eyup Sukru Ergin © 2018 - 2023</p> 
<p style="font-size:90%; text-align:center">

<a target="_blank" href="mailto:ergindev@gmail.com" style="color:#16171a; text-decoration: none">Mail</a> -
<a target="_blank" href="https://www.linkedin.com/in/eyupergin" style="color:#16171a; text-decoration: none">LinkedIn</a> -
<a target="_blank" href="https://twitter.com/ErginDev" style="color:#16171a; text-decoration: none">Twitter</a> -
<a target="_blank" href="https://github.com/EyupErgin" style="color:#16171a; text-decoration: none">Github</a> 



</p> 
<br>
</html>
