---
layout: default
---

<section class="post">
  <p class="hide-on-mobile-menu">
     <a style="color:#000; font-size:20px; text-decoration: none" href="/">Home</a><a style="text-decoration: none; color: #edf2f7" > | </a>
     <a style="color:#000; font-size:20px; text-decoration: none" href="/about">About</a>
  </p>
  <hr class="hide-on-mobile-menu" style="width:100%; height: 1px; background-color: #edf2f7" >


  <h2>{{ page.title }}</h2>
  {{ content }}
  <br>
  <div class="author-box" style="display: flex; align-items: center; padding: 10px; border: 1px solid #ccc; border-radius: 5px; ">
    <img href="https://www.google.com" src="https://avatars.githubusercontent.com/u/74828443?v=4" alt="Eyüp Şükrü ERGİN" style="border-radius: 5px; width: 110px; height: 110px;  margin-right: 10px;">
    <!-- Düz çizgi eklendi -->
    <hr style="height: 110px; border: none; border-left: 1px solid #ccc; margin-right: 10px;">
    <div class="author-info" style="display: flex; flex-direction: column;">
        <div style="display: flex; flex-direction: column; margin-left: 10px;">
            <span style="font-weight: bold;">Eyüp Şükrü ERGİN</span>
            <span>Intelligence Analyst, Threat Hunter and Threat Researcher.</span>
            <!-- Yan düz çizgi -->
            <hr style="margin-bottom: 8px; margin-top: 12.5px">
            <div style="display: flex; align-items: center; gap: 12.5px; margin-top: 10px;">
				<a target="_blank" href="mailto:ergindev@gmail.com"><img src="/icons/email.png" style="width:30px;height:30px"></a>
				<a target="_blank" href="https://www.linkedin.com/in/eyupergin"><img src="/icons/linkedin.png" style="width:30px;height:30px"></a>
				<a target="_blank" href="https://twitter.com/ErginDev"><img src="/icons/twitter.png" style="width:30px;height:30px"></a>
				<a target="_blank" href="https://github.com/EyupErgin"><img src="/icons/github.png" style="width:30px;height:30px"></a>
            </div>
        </div>
    </div>
</div>
  <span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; {% for tag in page.tags %}
    <a href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
</section>